
.container-header{
    height: 50px;
    width: 100%;
    background-color: aquamarine;
}
.promo h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .promo > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .promo > form {
    display: flex;
  }
  
  .promo > form p {
    color: #025157;
    margin-right: 13gitpx;
    margin-top: 10px;
    
    
  }

  .promo >form button{
    color: #fff;
    background-color: #67b54b;
    border: 0;
    padding: 10px 24px;
    border-radius: 5px;
  }

  .promo >form input{
    padding: 8px 26px;
    
  }